 *{
  margin:3px;
  padding: 5px;
 }
  section h2 {
    color: chocolate;
  }
  section h3{
    color:red;
  }
  section h4{
    color: rgb(93, 0, 255);
  }
  section p{
    color: aliceblue;
  }
  body{
    background-color: black;
    
  }
  img{
    height: 60%;
    width: 40%;
    position: center;
  }
  
